<div class="code-editor-container card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center bg-light">
    <h5 class="mb-0 fs-6 fw-semibold text-primary">Exercice Pratique</h5>
    <div>
      <button class="btn btn-sm btn-primary" (click)="runCode()">
        <i class="bi bi-play-fill"></i> Exécuter
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="row g-0">
      <div class="col-md-7 border-end" style="height: 300px;">
         <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)" style="height: 100%;"></ngx-monaco-editor>
      </div>
      <div class="col-md-5 bg-dark text-light p-3" style="height: 300px; overflow-y: auto;">
        <h6 class="text-secondary fw-bold text-uppercase fs-7 mb-3">Console Output</h6>
        @if (output().length === 0 && !error()) {
          <div class="text-secondary fst-italic">Pas de sortie...</div>
        }

        @for (log of output(); track log) {
          <div class="font-monospace small mb-1">{{ log }}</div>
        }

        @if (error()) {
          <div class="text-danger font-monospace small mt-2">
            <strong>Erreur:</strong><br/>
            {{ error() }}
          </div>
        }
      </div>
    </div>
  </div>
</div>